<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/building_ar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/building_ar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildingAR"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true">

            <!--For glb and gltf files-->
            <intent-filter android:autoVerify="true">
                <!-- 1. Handle generic file taps -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 2. For glTF/glb MIME types -->
                <data android:scheme="file" android:mimeType="model/gltf-binary" />
                <data android:scheme="content" android:mimeType="model/gltf-binary" />

                <!-- 3. For explicit .glb files -->
                <data android:scheme="file" android:pathPattern=".*\\.glb" />
                <data android:scheme="content" android:pathPattern=".*\\.glb" />
            </intent-filter>

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="model/*"/>-->
<!--            </intent-filter>-->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>